.wide-img{
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
}

.add-list-position{
    left: 85%;
    bottom: 10%;
}

.side-nav-header
{
    height: 120px;
    text-align: center;
}